body,ul{

    margin: 0;
    background-color: #75583B;
    background-image: url("/img/istockphoto-2098364973-2048x2048.jpg");
    background-size:cover ;
}

.menu{
height: 60vh;
width: 20vw;
background:#A06B35;
position: fixed;
top: 0;
left: -40vw;
transition: left 0.3s;
box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
z-index: 10;
display: flex;
flex-direction: column;
justify-content: space-evenly;
height: 100%;
align-content: center;
}


.menu a{
text-decoration: none;
text-align: center;
align-content: center;
flex:auto;
color: black;

}

.menu a:hover{
    background-color:#75583B;
    transition:0.5s;
}

.menu a:active{
    background-color: #724c26;
}

.menu-button{
cursor: pointer;
display: inline;
top: 0;
position: absolute;
z-index: 15;
}

.menu-button i.material-icons{
font-size: 2.5rem;
}


.show{
left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

.txt{
    grid-area: txt;
    margin: 20%;
    border: 1px solid black;
    height: 60%;
    border-radius:10px;
   text-align: center;
   margin-top: 20px;
   background-color: #A06B35;
}

#rubrik{

grid-area: rub;
text-align: center;
font-size: 8vw;
background-color: #724c26;
}


.txt2{
    grid-area: txt2;
    margin: 5%;
    height: 80%;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    background-color:  #A06B35;
    

}

#img1{
    grid-area: img1;
    height: 110%;
    width:100%;
    margin-top: -2.1%;
    

}
#img2{
    grid-area: img2;
    object-fit: fill;
    height: 100%;
    width:100%;
}

.link{
    grid-area: link1;
    background-image: url("/img/ChessPiece.png");
    background-size: cover;
    background-color: #A06B35;
    color: aliceblue;
    flex: auto;
    transition:0.5s;
}

.link:hover{
    background-color: #724c26;
}

.link:active{
    background-color: #CC7821;
}

.header{
    grid-area: hd;
    background-color:#A06B35;
    margin-top: 0;
}

.footer{
    grid-area: ft;
    background-color: #A06B35;
}

/* Dator */
@media screen and (min-width: 768px){
.start-wrapper{
display: grid;
height: 136vh;
width: 98.8vw;
margin-left:0.5%;
grid-template-columns: 60% 40%;
grid-template-rows:8% 30% 40% 30% 8%;
grid-template-areas: 
"hd hd"
"rub img1"
"txt link1"
"img2 txt2"
"ft ft"
;
}

}
/* Mobil */
@media screen and (max-width: 767px){
    .start-wrapper{
    display: grid;
    height: 200vh;
    width: 100vw;
    grid-template-columns: 100%;
    grid-template-rows:8% 20% 20% 20% 20% 8%;
    grid-template-areas: 
    "hd"
    "rub"
    "img1"
    "txt2"
    "link1"
    "ft"
    ;
    
    #img2{
        display:none;
    }

    .txt{
        display:none;
  
    }

    .txt2{
        margin:0%;
        margin-top: 15%;
        justify-content: center;
        align-items: center;



    }
 
 
    .footer{
        margin-bottom: -10%;
    }
    }
    }


    /* Dator */
@media screen and (min-width: 768px){
.rules-wrapper{
display: grid;
height: 136vh;
width: 100vw;
grid-template-columns: 30% 30% 30%;
grid-template-rows:8% 30% 40% 30% 8%;
grid-template-areas: 
"hd hd hd"
"rub rub rub"
"link1 txt img2"
". txt2 ."
"ft ft ft"
;


 
    #img1{
        display:none;
    }

    .txt{
        height: 80%;
  
    }

       .txt2{
        height: 80%;
    }
}

}
/* Mobil */
@media screen and (max-width: 767px){
    .rules-wrapper{
    display: grid;
    height: 200vh;
    width: 100vw;
    grid-template-columns: 100%;
    grid-template-rows:8% 20% 20% 20% 8%;
    grid-template-areas: 
    "hd"
    "rub"
    "link1"
    "img2"
    "ft"
    ;
    
    #img1{
        display:none;
    }

    .txt{
        display:none;
  
    }

    .txt2{
        margin:0%;
        margin-top: 15%;
        justify-content: center;
        align-items: center;



    }
 
 
    .footer{
        margin-bottom: -10%;
    }
    }
    }

     /* Dator */
@media screen and (min-width: 768px){
.about-wrapper{
display: grid;
height: 136vh;
width: 100vw;
grid-template-columns: 30% 20% 20% 30%;
grid-template-rows:8% 30% 35% 20% 8%;
grid-template-areas: 
"hd hd hd hd"
"rub . txt2 txt2"
"link1 . img1 img1"
"txt txt txt txt"
"ft ft ft ft"
;


 
    #img2{
        display:none;
    }
  


    .txt{
        height: 80%;
  
    }

       .txt2{
        height: 80%;
    }
}

}
/* Mobil */
@media screen and (max-width: 767px){
    .about-wrapper{
    display: grid;
    height: 200vh;
    width: 100vw;
    grid-template-columns: 50% 50%;
    grid-template-rows:8% 20% 20% 20% 8%;
    grid-template-areas: 
    "hd hd"
    "rub ."
    "link1 img1"
    "txt txt"
    "ft ft"
    ;
    
    #img2{
        display:none;
    }

    .txt2{
        display:none;
  
    }

    .txt{
        margin:0%;
        margin-top: 15%;
        justify-content: center;
        align-items: center;



    }
 
 
    .footer{
        margin-bottom: -10%;
    }
    }
    }