body,ul{

    margin: 0;
    background-color: #75583B;
    background-image: url("/img/istockphoto-2098364973-2048x2048.jpg");
    background-size:cover ;
}

.menu{
height: 60vh;
width: 20vw;
background:#A06B35;
position: fixed;
top: 0;
left: -40vw;
transition: left 0.3s;
box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
z-index: 10;
display: flex;
flex-direction: column;
justify-content: space-evenly;
height: 100%;
align-content: center;
}


.menu a{
text-decoration: none;
text-align: center;
align-content: center;
flex:auto;
color: black;

}

.menu a:hover{
    background-color:#75583B;
    transition:0.5s;
}

.menu a:active{
    background-color: #724c26;
}

.menu-button{
cursor: pointer;
display: inline;
top: 0;
position: absolute;
z-index: 15;
}

.menu-button i.material-icons{
font-size: 2.5rem;
}


.show{
left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

.txt{
    grid-area: txt;
    margin: 20%;
    border: 1px solid black;
    height: 60%;
    border-radius:10px;
   text-align: center;
   margin-top: 20px;
}

#rubrik{

grid-area: rub;
text-align: center;
font-size: 8vw;
background-color: #724c26;
}


.txt2{
    grid-area: txt2;
    margin: 20%;
    height: 45%;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;

}

#img1{
    grid-area: img1;
   
    height: 110%;
    width:100%;
    margin-top: -2.1%;
    

}
#img2{
    grid-area: img2;
    object-fit: fill;
    height: 100%;
    width:100%;
}

.link{
    grid-area: link1;
    text-align: center;
    align-content: center;
    background-color: #A06B35;
    text-decoration: none;
    color: aliceblue;
    flex: auto;
    transition:0.5s;
}

.link:hover{
    background-color: #724c26;
}

.link:active{
    background-color: #CC7821;
}

.header{
    grid-area: hd;
    background-color:#A06B35;
    margin-top: 0;
}

.footer{
    grid-area: ft;
    background-color: #A06B35;
}

/* Dator */
@media screen and (min-width: 768px){
.wrapper{
display: grid;
height: 136vh;
width: 98.8vw;
grid-template-columns: 60% 40%;
grid-template-rows:8% 30% 30% 30% 30% 8%;
grid-template-areas: 
"hd hd"
"rub img1"
"txt link1"
"img2 txt2"
"img2 txt2"
"ft ft"
;
}

}
/* Mobil */
@media screen and (max-width: 767px){
    .wrapper{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 60% 40%;
    grid-template-rows:8% 30% 30% 30% 8%;
    grid-template-areas: 
    "hd hd"
    "txt img1"
    " . link1"
    "img2 txt2"
    "ft ft"
    ;
    
    
    }
    }